.DS_Store
.idea
node_modules
**/.env*
**/secret.yaml
**/*secrets.k8s.yaml
**/logs/postgres/**.log
*.log
.java-version

.gradle
/gradle/caches/
/gradle/daemon/
/gradle/native/
/gradle/wrapper/dists
!gradle/wrapper/gradle-wrapper.jar
