<configuration debug="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="JSON_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_LOG"/>
    </root>

</configuration>
