<configuration debug="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="JSON_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>reqid</includeMdcKeyName>
            <timestampPattern>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampPattern>
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_LOG"/>
    </root>

</configuration>
